{% extends 'base.html' %}

{% block title %}Очереди{% endblock %}

{% block content %}

    <!-- Заголовок страницы -->
    <h2 class="mt-4 mb-4 text-center text-primary text-black">Список очередей</h2>

    <!-- Кнопка "Мои записи" -->
    <div class="text-center mb-4">
        <a href="{% url 'user_bookings' %}" class="btn btn-outline-primary btn-lg">Мои записи</a>
    </div>

    <!-- Список очередей -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for queue in queues %}
            <div class="col mb-4">
                <div class="card shadow-lg border-light rounded">
                    <div class="card-body">
                        <h5 class="card-title text-success">{{ queue.name }}</h5>
                        
                        <!-- Доступные слоты -->
                        <p class="card-text">
                            <strong>Доступно слотов:</strong> <span class="text-dark fw-bold">{{ queue.slot_set.count }}</span>
                        </p>

                        <!-- Кнопка перехода -->
                        <a href="{% url 'slot_list' queue.id %}" class="btn btn-outline-primary mt-3 w-100">Перейти к слотам</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Дополнительные данные для аутентифицированных пользователей -->
    {% if user.is_authenticated and user_queues %}
        <h2 class="mt-4 mb-4 text-center text-primary">Ваши очереди</h2>
        <ul class="list-group">
            {% for queue in user_queues %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>{{ queue.name }}</strong> - {{ queue.description }}
                    <a href="{% url 'slot_list' queue.id %}" class="btn btn-outline-success btn-sm">Просмотр</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
{% endblock %}