{% extends "base.html" %}

{% block content %}
<h1>Слот: {{ slot.start_time }} - {{ slot.end_time }}</h1>
<h2>Записанные пользователи:</h2>
<ul>
    {% for booking in bookings %}
        <li>
            {{ booking.user.username }} - {{ booking.user.email }}
            {% if not booking.notified %}
                (Ожидает уведомления)
            {% else %}
                (Уведомление отправлено)
            {% endif %}
        </li>
    {% endfor %}
</ul>


{% if is_admin %}
    <form method="post" action="{% url 'call_next_user' slot.queue.name slot.start_time|date:'Y-m-d H:i:s' %}">
        {% csrf_token %}
        {% if next_booking %}
                <button type="submit">Вызвать следующего пользователя</button>
            {% else %}
                <p>В очереди больше нет ожидающих пользователей.</p>
            {% endif %}
    </form>
    {% else %}
        <p>Вы не имеете прав на вызов пользователей.</p>
    {% endif %}

<a href="{% url 'queue_list' %}">Назад к списку очередей</a>
{% endblock %}